<input type="file" id="uploadFile" name="uploadFile" #fileUploadInput accept=".csv" (change)="selectFile($event)" />

<div class="checkout-wrap">
  <ul class="checkout-bar">
      <li [ngClass]="{active: currentStep == 1, visited: currentStep>1}" (click)="currentStep=1;">Importer un fichier</li>
      <li [ngClass]="{active: currentStep == 2, visited: currentStep>2}" (click)="currentStep=2;">Envoyer
      <!-- <a href="" data-toggle="collapse" (click)="currentStep=3;" [ngClass]="{adisabled: currentStep != 2}">
        <i class="fa fa-caret-square-o-right fa-lg" aria-hidden="true"></i>
      </a> -->
     </li>
      <li [ngClass]="{active: currentStep == 3, visited: currentStep>3}" (click)="currentStep=3;">Récupérer les données</li>
      
  </ul>

</div>
<div [ngSwitch]="currentStep">
  <div *ngSwitchCase="1">
      <ng-container *ngIf="dataArray; else noData">
          <div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th *ngFor="let dataModel of dataModelListFiltered">{{dataModel.columnReference}}</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of dataArray">
                  <td *ngFor="let dataModel of dataModelListFiltered">{{item[dataModel.columnName]}}</td> 
              </tr>
              </tbody>
            </table>
          </div>
          </ng-container>
  </div>
  <div *ngSwitchCase="2">
      <ng-container *ngIf="dataSentToServer; else noData">
        <p>Cliquez pour envoyer les données au serveur</p>
          <button class="btn btn-default"(click)="dataSentToServer=true;">Send</button>
      </ng-container>
  </div>
    <div *ngSwitchCase="3">
        <ng-container *ngIf="dataFromServer; else noData">
                data from server here !!
        </ng-container>
    </div>

</div>



<ng-template #noData>
  there no data found !!
</ng-template>