<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[{outlets: {contentOutlet: 'dashboard'}}]"   *ngIf="hasRoleAdmin()" routerLinkActive="active">
                        Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="[{outlets: {contentOutlet: 'produit'}}]" *ngIf="hasRoleUser()" routerLinkActive="active">Items</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="[{outlets: {contentOutlet: 'user'}}]" *ngIf="hasRoleAdmin()" routerLinkActive="active">Users</a>
            </li>
        </ul>
    </div>

</div>