<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[{outlets: {contentOutlet: 'dashboard'}}]" routerLinkActive="active">
                        Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="[{outlets: {contentOutlet: 'produit'}}]" routerLinkActive="active">Produit</a>
            </li>

            <li>
                <a class="nav-link">Overview</a>
            </li>
            <li>
                <a class="nav-link">Events</a>
            </li>
            <li>
                <a class="nav-link">About</a>
            </li>
            <li>
                <a class="nav-link">Services</a>
            </li>
            <li>
                <a class="nav-link">Contact</a>
            </li>
        </ul>
    </div>

</div>