
<app-crud
  [title]="'Produits'"
  [data]="produits"
  [service]="produitService"
  [initItem]="produit"
  [initForm]="produitForm"
  [dataModelList]="produitsModel"
>




</app-crud>

<!-- <h2>Produits</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-7">
       <table class="table table-hover">
         <thead>
           <tr>
             <th>Réference</th> <th>Quantité</th> <th>Prix Uniaire</th>
             <th>
               <button class="btn btn-outline-primary" (click)="operation = 'add'; initProduit();">ADD</button>
             </th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let prd of produits">
             <td>{{prd.ref}}</td>  <td>{{prd.quantite}}</td> <td>{{prd.prixUnitaire}}</td> 
             <td>
                <button class="btn btn-outline-primary"(click)="operation = 'edit'; selectedProduit = prd;">Edit</button>
           
                <button class="btn btn-outline-danger" (click)="operation = 'remove'; selectedProduit = prd;">Remove</button>
             </td>
           </tr>

         </tbody>
       </table>
    </div>
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header bg-info text-white">
          {{operation == 'add' ? 'Ajouter Produit' :
            operation == 'edit' ? 'Modifier Produit' :
            operation == 'remove' ? 'Supprimer Produit' : ''}}
        </div>
        <div class="card-body">
          <div *ngIf="operation == 'add' || operation == 'edit'">
              <form [formGroup]="produitForm">
            
                  <div class="form-group">
                    <label>Réference :</label>
                    <input type="text" class="form-control" formControlName="ref" [(ngModel)]="selectedProduit.ref"/>
                  </div>
                  <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid && 
                                                         (produitForm.controls['ref'].toutched || produitForm.controls['ref'].dirty) ">
                      La saisie d'une réference est obligatoir !!
                  </div>
      
                  <div class="form-group">
                      <label>Quantite :</label>
                      <input type="number" class="form-control" formControlName="quantite" [(ngModel)]="selectedProduit.quantite"/>
                  </div>
                  
                  <div class="form-group">
                        <label>Prix Unitaire :</label>
                        <input type="number" class="form-control" formControlName="prixUnitaire" [(ngModel)]="selectedProduit.prixUnitaire"/>
                  </div>
                <button class="btn btn-success" [disabled]="produitForm.prestine || produitForm.invalid"
                   (click)="operation == 'add' ? addProduit() : updateProduit()">
                   {{operation == 'add' ? 'Ajouter' :
                  operation == 'edit' ? 'Modifier' :
                  operation == 'remove' ? 'Supprimer': ''}}
                  </button>
                </form>
          </div>
          <div *ngIf="operation == 'remove'" >
            <p class="card-title">
              Référence : {{selectedProduit.ref}}
            </p>
            <p class="">
              Voulez-vous ssupprimer c produit ?
            </p>
             <button class="btn btn-success" [disabled]="!selectedProduit.ref" (click)="deleteProduit()">Confirmer</button>
          </div>

         
        </div>
        <div class="card-footer">
          Footer
        </div>

      </div>
    </div>

  </div>

</div> -->
